//report.enabled = true
trace.enabled = true

params.maxForks = 0 // set to 0 to use the default number of cpus - 1

profiles {
  standard {
    process.executor = 'local'
    params.container = "cameo:1.2.0"
    docker {
        enabled = true
    }
  }

  deception {
    scratch = "/scratch/$USER/"
    apptainer {
        autoMounts = true
        enabled = true
        runOptions = '--userns --fakeroot --env "MPLCONFIGDIR=$NXF_TASK_WORKDIR"'
        cacheDir = "/scratch/$USER/APPTAINER"
    }

    process {
        executor = 'slurm'
        queue = 'slurm'
        time = '30 min'
        clusterOptions = "--cpus-per-task 2 --nodes 1 --ntasks 2 -A cameo"
    
        withLabel: 'parallel' {
          queue = 'slurm'
          time = '3 hour'
          clusterOptions = "--cpus-per-task 3 --nodes 1 --ntasks 16 -A cameo"
       }
    }
  }
  
  deception_single_node {
    process.executor = 'local'
    scratch = "/scratch/$USER/"
    params.maxForks = 20 // limit number of parallel process run on a single node
    apptainer {
        autoMounts = true
        enabled = true
        runOptions = '--userns --fakeroot --env "MPLCONFIGDIR=$NXF_TASK_WORKDIR"'
        cacheDir = "/scratch/$USER/APPTAINER"
    }
  }
}
