report.enabled = false
trace.enabled = true


profiles {
  standard {
    process.executor = 'local'
    docker {
        enabled = true
    }
  }

  deception {
    process.container = '/qfs/projects/cameo/apptainer/cameov2.sif'
    apptainer {
        autoMounts = true
        enabled = true
        runOptions = '--userns --fakeroot --env "MPLCONFIGDIR=$NXF_TASK_WORKDIR"'
        cacheDir = '/scratch/$USER/APPTAINER'
    }

    process {
        executor = 'slurm'
        queue = 'short'
        //memory = '2 GB'
        time = '30 min'
        cpus = 1
        clusterOptions = "-A cameo -J cameo_nextflow -o cameo_nextflow_%j.out -e cameo_nextflow_%j.out"
    
        withLabel: 'parallel' {
          cpus = 4
          //memory = '24 GB'
          queue = 'slurm'
          time = '3 hour'
          clusterOptions = "-A cameo -J cameo_nextflow_parallel -o cameo_nextflow_parallel_%j.out -e cameo_nextflow_parallel_%j.out"
       }
    }
  }
}
